@model DSW2_Proyecto_Huron_Azul.localhost.BeanProducto

@{
    ViewBag.Title = "Registrando nuevo producto";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Registrar", "Producto", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.DESCPROD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESCPROD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DESCPROD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PREPROD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PREPROD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PREPROD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.STKPROD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.STKPROD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.STKPROD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CATPROD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model=>model.CATPROD,(SelectList)ViewBag.cat)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.FOTOPROD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="archivo" />
                <p style="color:red">@ViewBag.ext_invalida</p>
            </div>
        </div>

        @Html.HiddenFor(model => model.FOTOPROD)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="REGISTRAR" class="btn btn-default" />
       
            </div>
        </div>
    </div>
}

