@model DSW2_Proyecto_Huron_Azul.localhost.BeanCitaTuneado

@{
    ViewBag.Title = "Cita Nro. " + @Html.DisplayFor(model => model.NRO_CITA);
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.CODUSUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODUSUARIO)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.NOM_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOMICILIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOMICILIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CORREO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORREO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEDE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEDE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HORA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HORA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO_ACTUAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO_ACTUAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LUGAR_ATENCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LUGAR_ATENCION)
        </dd>

    </dl>
</div>

